.colors-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background-color 1.5s ease-in; }

.colors-area {
  width: 768px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; }
  .colors-area .colors-pick {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f97d1c; }
    .colors-area .colors-pick span {
      margin: 0 5px;
      font-size: 20px; }
      .colors-area .colors-pick span.color0 {
        color: red; }
      .colors-area .colors-pick span.color1 {
        color: green; }
      .colors-area .colors-pick span.color2 {
        color: blue; }
  .colors-area ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .colors-area li {
    border-width: 20px 0 0 0;
    border-style: solid;
    width: 30px;
    padding-top: 10px;
    margin: 15px;
    cursor: pointer;
    color: #666666; }
  .colors-area li.active {
    font-weight: bold;
    color: #222222; }

@media screen and (max-width: 768px) {
  .colors-area {
    width: 100% !important; } }
