.ymBtn {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 90%;
  text-decoration: none;
  user-select: none;
  zoom: 1;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  outline: none;
  &-xsmall {
    font-size: 70%;
  }
  &-small {
    font-size: 80%;
  }
  &-large {
    font-size: 100%;
  }
  &-xlarge {
    font-size: 110%;
  }
}

.ymBtn.ymBtn-disabled {
  background-color: #dddddd;
  color: #444444;
  cursor: not-allowed;
  opacity: .7;
}
$color_name: yellow orange red purple blue green cyan;
$color_list: #f8df70 #f97d1c #de1c31 #813c85 #2775b6 #45b787 #1a94bc;
$color_list_deep:#fecc11 #f86b1d #f43e06 #7e1671 #0f59a4 #2c9678 #1772b4;
@each $name in $color_name {
  $i: index($color_name,$name);
  .ymBtn-#{$name} {
    background-color: nth($color_list,$i);
    &:hover,
    &.active{
      background-color: nth($color_list_deep,$i);
    }
  }
}

