.ym-menu .menu-place {
  width: 10em;
  transition: width ease-in-out 1s; }

.ym-menu .menu-btn {
  position: fixed;
  top: 0;
  left: -4em;
  width: 4em;
  height: 4em;
  padding: 1em;
  background: #f9f4dc;
  z-index: 999;
  cursor: pointer; }
  .ym-menu .menu-btn span {
    display: block;
    width: 2em;
    height: .2em;
    background-color: #2775b6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.1em 0 0 -1em; }
    .ym-menu .menu-btn span::before {
      content: '';
      display: block;
      position: absolute;
      width: 2em;
      height: .2em;
      background-color: #f97d1c;
      top: -.5em; }
    .ym-menu .menu-btn span::after {
      content: '';
      display: block;
      position: absolute;
      width: 2em;
      height: .2em;
      background-color: #45b787;
      top: .5em; }

.ym-menu .menu-main {
  position: fixed;
  width: 10em;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f9f4dc;
  box-sizing: border-box;
  transition: left ease-in-out 1s;
  z-index: 1000; }
  .ym-menu .menu-main .logo {
    display: block;
    color: #12aa9c;
    font-size: 1.8em;
    text-align: center;
    margin: 1em auto 0.5em;
    font-weight: bold; }
  .ym-menu .menu-main nav {
    padding: .5em 0;
    overflow: hidden; }
    .ym-menu .menu-main nav a {
      display: block;
      text-align: center;
      line-height: 2.5; }
  .ym-menu .menu-main .feedbak-area {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: .5em;
    text-align: left;
    font-size: .9em;
    padding-left: .5em;
    font-weight: bold; }

.ym-menu.hide-place .menu-place {
  width: 0; }

.ym-menu.hide-main .menu-btn {
  left: 0; }

.ym-menu.hide-main .menu-place {
  width: 0; }

.ym-menu.hide-main .menu-main {
  left: -10em; }
